## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns.
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
import pandas as pd;

In [2]:
weather_raw = pd.read_csv('./data/weather-raw.csv');
weather_raw.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
days = [str(n) for n in range(1, 32)];
weather_raw.columns = list(weather_raw.columns[0:4]) + days;
weather_raw.head()

,id,year,month,element,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
weather_melt = pd.melt(weather_raw, id_vars=['id', 'year', 'month', 'element'], var_name='day', value_name="degrees");
weather_melt.head()

        id  year  month element day  degrees
0  MX17004  2010      1    tmax   1      NaN
1  MX17004  2010      1    tmin   1      NaN
2  MX17004  2010      2    tmax   1      NaN
3  MX17004  2010      2    tmin   1      NaN
4  MX17004  2010      3    tmax   1      NaN

In [7]:
years = weather_melt['year'].map(str);
months = weather_melt['month'].map(str);
days = weather_melt['day'];

In [8]:
weather_melt['date'] = weather_melt['year'].map(str) + '-' + weather_melt['months'].map(str) + '-' + weather_melt['day']

KeyError: 'months'

In [ ]:
weather_melt.head()